<footer>

	<div class="content-padding ">
		<div class="footer-content">

			<p>Copyright &copy; 2018  Uradswithus</p>

			<div class="social-media-icons">
				<a href="#"><i class="fab fa-facebook"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-youtube"></i></a>

			</div>

		</div>
	</div>
</footer>
		<!-- /FOOTER -->
		<div class="scrollup">
			<a class="scrolltop" href="#">
			<i class="fa fa-chevron-up"></i>
			</a>
		</div>
