<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    <%= title %>
</title>
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

<!-- Bootstrap CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
<!-- Font Awesome Icons CSS -->

<link rel="stylesheet" id='font-awesome' href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">


<!-- Owl Carousel -->
<link rel='stylesheet' id='owl-carousel' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css' type='text/css' media='all' />
<!-- Main CSS File -->
<link rel='stylesheet' id='style1.css' href='/stylesheets/main.css' type='text/css' media='all' />

